.container{
width: 250px;  /* set width of the div (which is inside the bigger div */
  /* word-wrap: break-word;   break long words so they wrap onto next line */
  margin: auto;
  border: 2px solid pink;
}